@font-face {
    font-family: 'Avenir';
    src: url('Fonts/AvenirLTStd-Medium.otf');
    font-weight: normal;
    font-style: normal;

}
@font-face {
  font-family: 'BebasNeue';
  src: url(Fonts/BebasNeueBold.otf);
}

* {
    margin: 0;
	padding: 0;
    border: 0;
    box-sizing: border-box;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    color: white;
    
}
nav ul {
    list-style: none;
}
body {
    font-family: 'Arial', monospace;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
    background-color: #0D0015;
    font-family: Avenir;
}


/*HEADER*/
header {
    height: 8%;
}

/*navigation*/
#nav {
    width: 100%;
    height: 100%;
    background-color: #0D0015;
    position: relative;
    z-index: 99;
    
  }
  
  /* (B) HORIZONTAL MENU ITEMS */
  #navitems { 
    background-color: #0D0015;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    align-items: center;
  }
  #navitems li {
      
    background-color: #0D0015;
    padding: 5px;
    display: flex;
    align-items: center;
  }
  #navitems a {
    background-color: #0D0015;
    padding: 5px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1em;
    letter-spacing: 4px;
  }
  #navitems a:hover { border: #fff; }
  
  /* (C) HIDE HAMBURGER */
  #nav label, #hamburger { display: none; }
  
/* [ON SMALL SCREENS] */
@media screen and (max-width: 768px){
  /* (A) BREAK INTO VERTICAL MENU */
  #nav {
      background-color: #0D0015;
      
  }
  #navitems a {
      box-sizing: border-box;
      display: block;
      width: 100%;
  }

  /* (B) SHOW HAMBURGER ICON */
  #nav label {
    display: inline-block;
    color: white;
    background-color: #0D0015;
    font-style: normal;
    font-size: 1.2em;
    padding: 10px;
  }

  /* (C) TOGGLE SHOW/HIDE MENU */
  #navitems { display: none; }
  #nav input:checked ~ #navitems { display: block; }

  .toggle-search-container {
    
    width: 48px;
    display: flex;
    align-items: center;
}
    .toggle-search-container p {
        
        padding: 4px;
    }
    .toggle-arrow {
        border: solid white;
        border-width: 0 4px 4px 0;
        display: inline-block;
        padding: 8px;
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }
}


/*MAIN*/
main {
    display: flex;
    flex-direction: row;
    height: 89%;
    width: 100%;
    box-sizing: border-box;
}

/*POP UP*/
.blur-filter {
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
}


#pop-up {
    position: absolute;
    top: 40%;
    left: 0%;
    right: 0%;
    margin-left: auto; 
    margin-right: auto;
    width: 350px;
    background-color: #0D0015;
    color: #fff;
    z-index: 99999;
    border-radius: 4px;
    display: none;
}
#pop-up span {
  float: right;
  margin-top: 5px;
  margin-right: 5px;
  font-size: small;
}
#pop-up p {
  margin: 16px;
  line-height: 1.5;
}
#pop-up span:hover {
  cursor: pointer;
}
/*Pop up animation*/
.scale-in-center {
	-webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.scale-out-center {
	-webkit-animation: scale-out-center 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: scale-out-center 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2021-10-29 15:48:53
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-in-center
 * ----------------------------------------
 */
 @-webkit-keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
  }
  @keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
  }

/**
 * ----------------------------------------
 * animation scale-out-center
 * ----------------------------------------
 */
@-webkit-keyframes scale-out-center {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
}
@keyframes scale-out-center {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
}

/*SEARCH SECTION*/
/*div search fonctionnality*/
.search-container {
  border: 2px solid red;
    width: 300px;
    display: flex;
    flex-direction: row;
    margin-left: 16px;
}

.faire-recherche {
  border: 2px solid yellow;
    padding: 4px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}



/*RESULTS SECTION*/
/*div results of search*/
.section-resultats {
  border: 2px solid cyan;
    width: 100%;
    height: 100%;
}

/*RESULT thèmes*/
div.container-themes {
  border: 2px solid green;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    height: 100%;
    display: block;
}  
section.legende {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}
.legende > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    box-sizing: border-box;   
    padding: 4px;
    border-radius: 4px;
    border: 2px solid #0D0015;
}
.legende >div:hover {
    border-radius: 4px;
    border: 2px solid white;
    cursor: pointer;
}
input {           
opacity: 0;
cursor: pointer;
}
.checkmark {
box-sizing: border-box;
height: 12px;
width: 12px;
border: 2px solid white;
padding-left: 4px;
}
.checkmark-active {
    background-color: white;
    border: 2px solid white;
}
.legend label:hover .checkmark {
    background-color: white;
    border: 2px solid white;
    cursor: pointer;
}
.legend label {
    text-align: center;
    height: 100%;
    box-sizing: border-box;
    margin-left: 4px;
    padding: 2px 2px 2px 12px;
    cursor: pointer;
}



/*GRAPH CONSTELLATION EDILIM*/
.graph-edilim {
    position: relative;
    
}
.script-graph {  
    z-index: 999;
}
/*GRAPH*/

.link {
    stroke: #fff;
    display: block;
    opacity: 50%;
  }
.node text {
  pointer-events: none;
  font: sans-serif;
  display: none;
}
.node:hover .link {
    stroke: #fff;
    display: block;
}
.node:hover text {
    display:block;
}
g.node {
    fill: white;
}
g.node circle {
    fill: white;
    stroke: white ;
    stroke-width: 24px;
    stroke-opacity: 0%;
}

g.node:hover {
    cursor: pointer;
}

.blink {
    fill: red !important;
    animation: blink 1s linear infinite;
}

@keyframes blink{
    0%{opacity: 0;}
    25%{opacity: 0.25;}
    50%{opacity: .5;}
    100%{opacity: 1;}
    }

/*AUDIO*/
audio {
    border-radius: 16px;
    margin-top: 4px;
}
.audio-box {
    z-index: 999999;
    position: absolute;
    left: 60%;
    bottom: 5%;
    padding: 8px;
    background-color: #0D0015;
    color: white;
    border: 2px solid white;
    border-radius: 4px;
}
.audio-box figcaption {
    color: white;
}

.arrow {
    border: solid white;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 4px;
  }

  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  
  .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }

.audio-control {
    color: #000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
   
}
#audioThemeNumber {
    color:#fff;
}
  
/*PAGES DE TEXTE*/
.page-text {
    border: 2px solid white;
    border-radius: 8px;
    margin-top: 24px;
    margin-right: 8%;
    margin-left: 8%;
    overflow-y: scroll;
    line-height: 1.8;
    font-family: Arial;
}
.page-text > * {
    margin: 16px;
    padding: 2px 16px 2px 16px;
}

#origine ul {
    margin-left: 32px;
}
#origine ul li {
    margin-top: 4px;
}
#questionnaire {
    margin: 16px;
}
#questionnaire > * {
    margin: 8px;
}
#personnes-interrogees {
    margin: 16px;
}
h5 {
 font-weight: bold;
 font-size: large;
 margin-top: 8px;
margin-bottom: 8px;
}
h6 {
    margin-top: 4px;
    margin-bottom: 4px;
}
#citation {
    text-align: right;
}
q {
    font-size: larger;
}
/*MENTIONS LEGALES*/
h4 {
    font-size: x-large;
    font-weight: bolder;
    margin-top: 16px;
    margin-bottom: 16px;
}
/*FOOTER*/
footer {
    height: 3%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    font-size: 10px;
}
.vertical { 
    border-left: 2px solid white; 
    height: 50%; 
    display: inline-block;
    margin-left: 4px;
    margin-right: 4px;
    } 